*
{
    background-color:black;
    background-image:none;
    overflow:visible ! important;
    float: none ! important;
    position: relative;
}
table
{ 
    width:auto;
    border:none;
    border-spacing:0px;
}
td
{
    border-style:solid;
    border-width:1px;
}
.Conflict
{
    color:Black;
    font-weight:bold;
}
.noChange
{
	color:GrayText;
	font-style:oblique;
}
.dstOnlyChg
{
	color:#448;
	font-style:oblique;
}
.selected
{
    font-variant:small-caps;
    font-style:italic;
}
td.selected
{
    border-width:thick;
    border-color:black;
}
td.markCell
{
    color:black;
}
